<ul class="container-limit nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="#"><h3>Log in</h3></a></li>
</ul>

<div class="container-limit panel panel-default">

  <div class="panel-body">

    <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible fade in" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Info:</strong> <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:danger] %>
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning:</strong> <%= flash[:danger] %>
      </div>
    <% end %>

    <%= form_for :session, url: login_path, html: {class: ""} do |f| %>
      
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">@</span>
          <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">***</span>
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        </div>
      </div>
      
      <%= f.button "Log in", class: "btn btn-primary", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i> Logging in..."} %>
    
    <% end %>

  </div>

</div>
