<h3>Log In</h3>

<% if flash[:notice] %>
  <div class="alert alert-info" role="alert">
    <strong>Info:</strong> <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-danger" role="alert">
    <strong>Warning:</strong> <%= flash[:danger] %>
  </div>
<% end %>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="basic-addon1">***</span>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
  <%= f.submit "Log In", class: "btn btn-primary" %>
<% end %>
