<h3>Log In</h3>

<% flash.each do |name, msg| -%>
  <p><%= content_tag :div, msg, class: name %></p>
<% end -%>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="basic-addon1">***</span>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
  <%= f.submit "Log In", class: "btn btn-primary" %>
<% end %>
