<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">My Account</a></li>
  <li role="presentation"><a href="<%= edit_user_path(@account) %>">Change Password </a></li>
</ul>
  
<div class="panel panel-default">

  <div class="panel-body">

    <% if flash[:success] %>
      <div class="alert alert-success" role="alert">
        <strong>Success:</strong> <%= flash[:success] %>
      </div>
    <% end %>

    <% if flash[:danger] %>
      <div class="alert alert-danger" role="alert">
        <strong>Warning:</strong> <%= flash[:danger] %>
      </div>
    <% end %>
    
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @account.email %></dd>
      <dt>First Name</dt>
      <dd><%= @account.first_name %></dd>
      <dt>Last Name</dt>
      <dd><%= @account.last_name %></dd>
      <dt>Last Update</dt>
      <dd><%= @account.updated_at %></dd>
      <dt>Role</dt>
      <dd><%= @account.role %></dd>
    </dl>

  </div>

</div>