<h3>My Account</h3>

<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <strong>Success:</strong> <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-danger" role="alert">
    <strong>Warning:</strong> <%= flash[:danger] %>
  </div>
<% end %>

<ul>
  <li><b>Email:</b> <%= @account.email %></li>
  <li><b>First Name:</b> <%= @account.first_name %></li>
  <li><b>Last Name:</b> <%= @account.last_name %></li>
  <li><b>Last Update:</b> <%= @account.updated_at %></li>
    <li><b>Role:</b> <%= @account.role %></li>
  <li><%= link_to "Change Password", edit_user_path(@account) %></li>
</ul>