<h3>Change Password for <%= @user.first_name %> <%= @user.last_name %></h3>

<% flash.each do |name, msg| -%>
  <p><%= content_tag :div, msg, class: name %></p>
<% end -%>

<%= form_for(@user) do |f| %>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Old Password</span>
    <%= password_field_tag :current_password, params[:current_password], class: "form-control" %>
  </div>  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">New Password</span>
    <%= f.password_field :password, class: "form-control" %>
  </div>  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Confirm New Password</span>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  
  <div class="btn-margin">
    <%= f.submit "Update", class: "btn btn-primary" %>
    <%= link_to "Cancel", user_account_path(id: current_user), data: {confirm: "Are you sure you want to cancel?"}, class: "btn btn-default" %>
  </div>
  
<% end %>

<p>
  <% if @user.errors.any? %>
    <div class="error">Errors:</div>
    <% @user.errors.full_messages.each do |message| %>
      <div class="error-m"><%= message %></div>
    <% end %>
  <% end %>
</p>