<h3>Add User</h3>

<%= form_for(:user, url: "/signup") do |f| %>
  <%= f.text_field :first_name, :placeholder => "First Name" %>
  <%= f.text_field :last_name, :placeholder => "Last Name" %>
  <%= f.email_field :email, :placeholder => "Email" %> 
  <%= f.password_field :password, :placeholder => "Password" %>
  <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
  Role: <%= f.select(:role) do %>
    <% [[nil, nil], ["Admin", "admin"], ["Editor", "editor"]].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
  <%= f.submit "Add User" %>
<% end %>

<p>
  <% if @user.errors.any? %>
    <div class="error">Errors:</div>
    <% @user.errors.full_messages.each do |message| %>
      <div class="error-m"><%= message %></div>
    <% end %>
  <% end %>
</p>