<h3><%= @tag.title %> Destination Tag</h3>


<% if @tag.errors.any? %>
  <% @tag.errors.full_messages.each do |message| %>
    <div class="alert alert-warning" role="alert"><strong>Error:</strong> <%= message %></div>
  <% end %>
<% end %>


<%= form_for(@tag) do |f| %>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><%= f.label :title %></span>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <p><%= link_to (image_tag @tag.image_header.variant(resize: "700x400")), @tag.image_header, target: :_blank  %></p>
  
  <%= f.label :image_header %>
  <%= f.file_field :image_header %>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><%= f.label :description %></span>
    <%= f.text_area :description, class: "form-control", rows: "5" %>
  </div>
  
  <p><%= link_to "Add a Blog", new_destination_path, class: "btn btn-primary" %></p>

  <h4>Featured Images</h4>

  <p>
    <%= f.label :image_uploads %>
    <%= f.file_field :image_uploads, multiple: true %>
  </p>
  
  <% @tag.image_uploads.each do |image| %>
    <%= link_to (image_tag image.variant(resize: "500x200")), image, target: :_blank %>
  <% end %>
  
  <div class="btn-margin">
    <%= f.button "Update", class: "btn btn-primary", data: {disable_with: "<i class='fas fa-spinner'></i> Updating..."} %>
    <%= link_to "Cancel", @tag, data: {confirm: "Are you sure you want to cancel?"}, class: "btn btn-default" %>
  </div>

<% end %>