<h3><%= @tag.title %> Destination Tag</h3>

<p>
  <% if @tag.errors.any? %>
    <span class="error">Errors:</span>
    <% @tag.errors.full_messages.each do |message| %>
      <div class="error-m"><%= message %></div>
    <% end %>
  <% end %>
</p>


<%= form_for(@tag) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

  <p><%= link_to (image_tag @tag.image_header.variant(resize: "700x400")), @tag.image_header, target: :_blank  %></p>
  
  <%= f.label :image_header %>
  <%= f.file_field :image_header %>
  
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: "desc-box" %>
  </p>
  
  <p><%= link_to button_tag("Add a Blog"), new_destination_path %></p>

  <h4>Uploaded Images</h4>

  <p>
    <%= f.label :image_uploads %>
    <%= f.file_field :image_uploads, multiple: true %>
  </p>

  <% @tag.image_uploads.each do |image| %>
    <%= link_to (image_tag image.variant(resize: "500x200")), image, target: :_blank %>
  <% end %>

  <p>
    <%= f.submit "Update" %>
    <%= link_to button_tag("Cancel"), @tag, data: {confirm: "Are you sure you want to cancel?"} %>
  </p>

<% end %>