<% content_for :title, "Layaw Suroy - Home" %>

<hr>
<h1 class="ribbon">
   <strong class="ribbon-content">&#x223E; Destinations &#x223E;</strong>
</h1>
<hr>

<%= render 'shared/flash' if flash_list %>

<% unless params[:tag_search].blank? %> <!-- blank? covers both nil and empty string -->
  <div class="margin-20">
    <h4>Search results for: <strong><%= params[:tag_search] %></strong></h4>
  </div>
<% end %>

<% if @tags.present? %>

  <div class="row">
    <% @tags.each do |tag| %>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <% if tag.image_header.attached? %>
            <%= image_tag img_resize(tag.image_header) %>
          <% end %>

          <div class="caption">

            <h3><%= tag.title %></h3>
            <div class="signature margin-20">Created by: <em><%= "#{tag.user.first_name} #{tag.user.last_name}" if tag.user %></em> on <%= tag.updated_at.strftime("%d %B, %Y") %></div>
            <p><%= truncate(tag.description, length: 100) %></p>

            <div class="margin-20">

              <% if current_user && check_tag_creator_views(tag) %>

                <%= link_to "Edit", edit_tag_path(tag), class: "btn btn-primary" %>

                <%= link_to "", tag_path(tag), method: "delete", data: { confirm: "Are you sure you want to delete #{tag.title} destination tag?" }, class: "remove far fa-times-circle fa-2x" %>

              <% end %>
              
              <%= link_to "Show More", tag_path(tag), class: "btn btn-default" %>

            </div>

          </div>

        </div>
      </div>

    <% end %>
  </div>

<% else %>

  <h4>No Results Found</h4>

<% end %>

<% if tags_count %> 
  <div class="margin-top-60 apple_pagination"><%= will_paginate @tags %></div>
<% end %>

