<h2>Destinations</h2>

<p><%= link_to button_tag("Add a Destination Tag"), new_tag_path %></p>

<% @tags.each do |tag| %>
  <div>
    <h3><%= tag.title %></h3>
    <p><%= link_to "Edit", edit_tag_path(tag) %> | <%= link_to "Show More", tag_path(tag) %></p>
    <%= link_to (image_tag tag.image_header, class: "img-header"), tag.image_header, target: :_blank %>
    <%= tag.description %>
  </div>
<% end %>