<% if flash[:notice] %>
  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Info:</strong> <%= flash[:notice] %>
  </div>
<% end %>

<hr>
<h1 class="ribbon">
   <strong class="ribbon-content">Destinations</strong>
</h1>
<hr>

<% if flash[:search] %>
  <div class="margin-20">
    Search results for: <strong><%= flash[:search] %></strong>
  </div>
<% end %>

<% if @tags.present? %>

  <div class="row">
    <% @tags.each do |tag| %>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <% if tag.image_header.attached? %>
            <%= image_tag img_resize(tag.image_header) %>
          <% end %>

          <div class="caption">

            <h3><%= tag.title %></h3>
            <div class="signature margin-20">Updated on <%= tag.updated_at.strftime("%d %B, %Y") %></div>
            <p><%= truncate(tag.description, length: 100) %></p>

            <div class="margin-20">

              <% if current_user %>

                <%= link_to "Edit", edit_tag_path(tag), class: "btn btn-primary" %>

                <% if current_user.admin? %>
                  <%= link_to "", tag_path(tag), method: "delete", data: { confirm: "Are you sure you want to delete #{tag.title} destination tag?" }, class: "remove far fa-times-circle fa-2x" %>
                <% end %>

              <% end %>
              
              <%= link_to "Show More", tag_path(tag), class: "btn btn-default" %>

            </div>

          </div>

        </div>
      </div>

    <% end %>
  </div>

<% else %>

  <h4>No Results Found</h4>

<% end %>

