<%= form_for(@tag) do |f| %>

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Add a Destination Tag</a></li>
  </ul>

  <div class="panel panel-default">
  
    <div class="panel-body">

      <% if @tag.errors.any? %>
        <% @tag.errors.full_messages.each do |message| %>
          <div class="alert alert-warning" role="alert"><strong>Error:</strong> <%= message %></div>
        <% end %>
      <% end %>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= f.label :title %></span>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      
      <%= f.label :image_header %>
      <%= f.file_field :image_header %>
      
      <%= f.label :image_uploads %>
      <%= f.file_field :image_uploads, multiple: true %>
      
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= f.label :description %></span>
        <%= f.text_area :description, class: "form-control", rows: "5" %>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= f.label :map_embed %></span>
        <%= f.text_area :map_embed, class: "form-control", rows: "5" %>
      </div>
    
    </div>
  
  </div>
  
  <div class="btn-margin">
    <%= f.button "Add", class: "btn btn-primary", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i> Adding..."} %>
    <%= link_to "Cancel", @tag, data: {confirm: "Are you sure you want to cancel?"}, class: "btn btn-default" %>
  </div>
  
<% end %>