<h3>Add a Destination Tag</h3>

<p>
  <% if @tag.errors.any? %>
    <span class="error">Errors:</span>
    <% @tag.errors.full_messages.each do |message| %>
      <div class="error-m"><%= message %></div>
    <% end %>
  <% end %>
</p>

<%= form_for(@tag) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :image_header %>
  <%= f.file_field :image_header %>
  
  <%= f.label :image_uploads %>
  <%= f.file_field :image_uploads, multiple: true %>
  
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: "desc-box" %>
  </p>
  
  <%= f.submit "Add" %>
  <%= link_to button_tag("Cancel"), root_path, data: {confirm: "Are you sure you want to cancel?"} %>
  
<% end %>
