<h3>Add a Destination Tag</h3>

<p>
  <% if @tag.errors.any? %>
    <div class="error">Errors:</div>
    <% @tag.errors.full_messages.each do |message| %>
      <div class="error-m"><%= message %></div>
    <% end %>
  <% end %>
</p>

<%= form_for(@tag) do |f| %>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><%= f.label :title %></span>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <%= f.label :image_header %>
  <%= f.file_field :image_header %>
  
  <%= f.label :image_uploads %>
  <%= f.file_field :image_uploads, multiple: true %>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><%= f.label :description %></span>
    <%= f.text_area :description, class: "form-control", rows: "5" %>
  </div>
  <div class="btn-margin">
    <%= f.submit "Add", class: "btn btn-primary" %>
    <%= link_to "Cancel", @tag, data: {confirm: "Are you sure you want to cancel?"}, class: "btn btn-default" %>
  </div>
  
<% end %>
