<% content_for :title, @tag.title %>
<%= provide(:description, truncate(@tag.description, length: 150)) %>


<div class="row">
  <div class="col-md-8">

    <%= render 'shared/flash' if flash_list %>
    
    <blockquote>
      <h2><%= @tag.title %></h2>
      <footer>By <em><%= "#{@tag.user.first_name} #{@tag.user.last_name}" if @tag.user %></em> on <%= @tag.updated_at.strftime("%d %B, %Y") %></footer>
    </blockquote>

    <div class="margin-20">
      <% if @tag.image_header.attached? %>
        <%= image_tag img_resize(@tag.image_header), class: "img-responsive modalImg" %>
      <% end %>
    </div>

    <p><%= simple_format(@tag.description) %></p>

    <% @destinations.each do |dest| %>

      <div class="blog">
      
        <h3>&#9473; <%= dest.blog_title %> &#9473;</h3>

        <div class="signature margin-20">Updated on <%= dest.updated_at.strftime("%d %B, %Y") %></div>

        <% if dest.blog_image.attached? %>
          <div class="image-slide-container">

            <% dest.blog_image.each do |image| %>
              <%= image_tag img_resize(image), class: "img-responsive image-slide modalImg" %>
            <% end %>

            <% if count_image(dest) %>
              <button class="left-slider-button" onclick="plusDivs(-1)">&#10094;</button>
              <button class="right-slider-button" onclick="plusDivs(1)">&#10095;</button>
            <% end %>

          </div>
        <% end %>
        
        <p><%= simple_format(dest.blog_body) %></p>
        
        <% if current_user && check_dest_creator_views(dest) %>
          <%= link_to "Edit", edit_destination_path(dest) %> | 
          <%= link_to "Delete", destination_path(dest), method: "delete", data: {confirm: "Are you sure you want to delete #{dest.blog_title} blog?"} %>
        <% end %>
                
      </div>
      
    <% end %>

    <% unless @tag.map_embed.empty? %>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe src="<%= @tag.map_embed %>" width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    <% end %>

    <div id="share">
      <div class="btn">
        <i class="fa-inverse fas fa-share fa-3x fa-pulse"></i>
      </div>

      <a href="http://twitter.com/home?status=<%= request.original_url %>" title="Share on Twitter" target="_blank" class="btn"><i class="fa-inverse fab fa-twitter-square fa-4x"></i></a>

      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" title="Share on Facebook" target="_blank" class="btn"><i class="fa-inverse fab fa-facebook-square fa-4x"></i></a>

      <a href="https://plus.google.com/share?url=<%= request.original_url %>" title="Share on Google+" target="_blank" class="btn"><i class="fa-inverse fab fa-google-plus-square fa-4x"></i></a>
    </div>
    
    <% if @tag.image_uploads.attached? %>  
      <h3 class="margin-top-60">&#9473; Featured Photos &#9473;<h3>
    <% end %>

    <div class="featured">
      <% @tag.image_uploads.each do |image| %>
        <%= image_tag img_resize(image), class: "modalImg" %>
      <% end %>
    </div>

    <div id="modalId" class="modal">
      <span class="modalClose">&times;</span>
      <img class="modal-content" id="img01">        
      <div id="caption"></div>
    </div>

  </div>
  <!--
  <div class="col-md-4">Ads Here</div>
  -->
</div>
