<h3><%= @tag.title %></h3>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<p><%= link_to (image_tag @tag.image_header.variant(resize: "700x400")), @tag.image_header, target: :_blank  %></p>

<p><%= @tag.description %></p>

<% if current_user %>
  <p><%= link_to button_tag("Add a Blog"), new_destination_path %></p>
<% end %>

<% @destinations.each do |dest| %>
  <h4><%= dest.blog_title %></h4>
  <%= dest.blog_body %>
  <%= dest.created_by %>
  <%= dest.last_update_by %>
  <% if current_user %>
    <%= link_to "Edit", edit_destination_path(dest) %>
  <% end %>
<% end %>

<h4>Uploaded Images<h4>
<% @tag.image_uploads.each do |image| %>
  <%= link_to (image_tag image.variant(resize: "500x200")), image, target: :_blank %>
<% end %>