<% content_for :title, "Edit #{@tag_title} Blog" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Edit Blog</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">  
    <div class="panel panel-default">
      <div class="panel-body">

        <%= render 'shared/errors', obj: @destination %>
        
        <%= form_with model: @destination, url: {action: "update"}, html: {class: ""}, local: true do |f| %>
        
          <h3><%= @tag_title %> Blog</h3>
        
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><%= f.label :blog_image %></span>
              <%= f.file_field :blog_image, class: "form-control" %>
            </div>
          </div>
          
          <% if @destination.blog_image.attached? %>
            <div class="margin-20"><%= link_to (image_tag img_blog(@destination.blog_image), class: "img-responsive"), @destination.blog_image, target: :_blank  %></div>
          <% end %>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><%= f.label :blog_title %></span>
              <%= f.text_field :blog_title, class: "form-control" %>
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><%= f.label :blog_body %></span>
              <%= f.text_area :blog_body, class: "form-control", rows: "15" %>
            </div>
          </div>
          
          <div class="btn-margin">
            <%= f.button "Update", class: "btn btn-primary", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i> Updating..."} %>
            <%= link_to "Cancel", tag_path(id: @tag_id ), data: {confirm: "Are you sure you want to cancel?"}, class: "btn btn-default" %>
          </div>
          
        <% end %>
        
      </div>
    </div>
  </div>
</div>
  

  
