<h3><%= @tag_title %> Blog</h3>


<% if @destination.errors.any? %>
  <% @destination.errors.full_messages.each do |message| %>
    <div class="alert alert-warning" role="alert"><strong>Error:</strong> <%= message %></div>
  <% end %>
<% end %>

<%= form_for(@destination) do |f| %>
  
  <%= f.label :blog_image %>
  <%= f.file_field :blog_image %>
  
  
  <% if @destination.blog_image.attached? %>
    <div class="margin-20"><%= link_to (image_tag @destination.blog_image.variant(resize: "700x400")), @destination.blog_image, target: :_blank  %></div>
  <% end %>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><%= f.label :blog_title %></span>
    <%= f.text_field :blog_title, class: "form-control" %>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><%= f.label :blog_body %></span>
    <%= f.text_area :blog_body, class: "form-control", rows: "15" %>
  </div>
  
  <div class="btn-margin">
    <%= f.button "Update", class: "btn btn-primary", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i> Updating..."} %>
    <%= link_to "Cancel", tag_path(id: @tag_id ), data: {confirm: "Are you sure you want to cancel?"}, class: "btn btn-default" %>
  </div>
  
<% end %>