<%= form_for(@destination) do |f| %>
  
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="<%= edit_tag_path(id: @tag_id)%>">Edit <%= @tag_title %> Tag</a></li>
    <li role="presentation" class="active"><a href="#">Add a <%= @tag_title %> Blog</a></li>
  </ul>

  <div class="panel panel-default">
  
    <div class="panel-body">

      <h3><%= @tag_title %></h3>
      <p><%= @tag_description %></p>


      <% if @destination.errors.any? %>
        <% @destination.errors.full_messages.each do |message| %>
          <div class="alert alert-warning" role="alert"><strong>Error:</strong> <%= message %></div>
        <% end %>
      <% end %>


      <%= f.label :blog_image %>
      <%= f.file_field :blog_image %>
      
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= f.label :blog_title %></span>
        <%= f.text_field :blog_title, class: "form-control" %>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= f.label :blog_body %></span>
        <%= f.text_area :blog_body, class: "form-control", rows: 15 %>
      </div>
    
    </div>
  
  </div>
  
  <div class="btn-margin">
    <%= f.button "Add", class: "btn btn-primary", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i> Adding..."} %>
    <%= link_to "Cancel", tag_path(id: @tag_id ), data: {confirm: "Are you sure you want to cancel?"}, class: "btn btn-default" %>
  </div>
  
<% end %>
