<h3><%= @tag_title %></h3>
<p><%= @tag_description %></p>

<p>
  <% if @destination.errors.any? %>
    <div class="error">Errors:</div>
    <% @destination.errors.full_messages.each do |message| %>
      <div class="error-m"><%= message %></div>
    <% end %>
  <% end %>
</p>

<%= form_for(@destination) do |f| %>
  
  <%= f.label :blog_title %>
  <%= f.text_field :blog_title %>
  
  <p>
    <%= f.label :blog_body %>
    <%= f.text_area :blog_body, class: "blog-box" %>
  </p>
  
  <%= f.submit "Add" %>
  <%= link_to button_tag("Cancel"), tag_path(id: @tag_id), data: {confirm: "Are you sure you want to cancel?"} %>
  
<% end %>
