<!DOCTYPE html>
<html>
  <head>

    <title><%= yield(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    
    <%= favicon_link_tag "https://s3.amazonaws.com/lagawsuroy/Public/favicon.ico" %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= yield(:description) %>">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6507606991893154",
        enable_page_level_ads: true
      });
    </script>

  </head>

  <body>
    <% if @home_banner %>
      <%= render 'layouts/banner' %>
    <% end %>
    
    <div id="top"></div>

    <div class="container margin-top-60">
    
      <%= render 'layouts/navbar' %>
      
      <div id="body">
        <%= yield %>
      </div>

      <hr>
      <%= render 'layouts/footer' %>

    </div>

    <a id="scroll-top" href="#top" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></a>

  </body>

</html>
