<!DOCTYPE html>
<html>
  <head>
    <title>Layaw Suroy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    
    <%= favicon_link_tag "https://s3.amazonaws.com/lagawsuroy/Public/favicon.ico" %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% if @home_banner %>
      <%= render 'layouts/banner' %>
    <% end %>
    
    <div class="container">
    
      <%= render 'layouts/navbar' %>
      
      <div id="body">
        <%= yield %>
      </div>

      <hr>
      <%= render 'layouts/footer' %>

    </div>

  </body>
</html>
