<!DOCTYPE html>
<html>
  <head>
    <title>LagawSuroyPh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <% if @home_banner %>
      <div id="banner">
        <h1>Lagaw Suroy Travel Blog <small>Where your next destination matters</small></h1>
      </div>
      <div class="container">
        <span class="signature">
          <p>“Lagaw” is the Hiligaynon word equivalent to travelling and “Suroy” is the Cebuano word for it. Most of the places featured are local spots in Negros and Cebu Islands.</p>
          <p>Going alone? No worries, we have our own sets of tour guides ready to accompany you to the places you want to visit while making sure you enjoy your privacy. With family and friends? We will provide you and your comrades with hassle free travel experience each with local touch of hospitality. </p>
          <p>Each destination will surely be a unique travel experience.</p>
        </span>
      </div>
    <% end %>
    
    <div class="container">
    
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
        
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
            <!-- <#%= link_to image_tag("https://s3.amazonaws.com/lagawsuroy/Manual+Uploads/lslogo1.png", alt: "Lagaw Suroy"), root_path, class: "navbar-brand" %> -->
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <span class="navbar-form navbar-left">
              <%= form_tag(tags_path, method: :get) do %>
                <div class="form-group">
                  <%= text_field_tag :tag_search, params[:tag_search], class: "form-control", placeholder: "Search" %>
                </div>
                <%= submit_tag "Submit", class: "btn btn-default" %>
              <% end %>
            </span>
    
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li><%= link_to current_user.email, user_account_path(id: current_user) %></li>
                <li><%= link_to "My Account", user_account_path(id: current_user) %></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Add a Destination Tag", new_tag_path %></li>
                    <% if current_user.admin? %>
                      <li><%= link_to "Add User", signup_path %></li>
                      <li><%= link_to "Manage Users", manage_path %></li>
                    <% end %>
                  </ul>
                </li>
                <li><%= link_to "Logout", logout_path, method: "delete" %></li>
              <% else %>
                <li><%= link_to "Login", login_path %></li>
              <% end %>
            </ul>
            
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      
      <div id="body">
        <%= yield %>
      </div>
      
      <div id="footer">
        <a href="https://www.facebook.com/lagaw.suroy.3"><i class="fab fa-facebook-f"></i> &bull; @lagawsuroy</a>
        <h5>Copyright &copy; <%= Time.now.year %> Lagaw Suroy </h5>
      </div>
      
    </div>
  </body>
</html>
